body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2, h3{
  font-weight: bold;
}

p{
  color: grey;
}

i{
  margin-right: 10px;
}

/*headings*/
.big-heading{
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: bolder;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
/*container*/
.container-fluid{
  padding: 7% 15%;
}
/*sections*/
.colored-section{
  background-color: #FF7396;
  color: white;
}
.white-section{
  background-color: white;
}

/*Navigation bar*/
#title .container-fluid{
  text-align: left;
  padding: 3% 15% 7%;
}

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
}

/*Download buttons*/
.download-buttons{
  margin: 5% 3% 5% 0;
}
/*title image*/
.title-img{
  width: 60%;
  transform: rotate(27deg);
  position: absolute;
  right: 30%;
}

/*features*/
#features{
  position: relative;
  z-index = 1;
}

.features{
  font-family: "Montserrat";
  padding: 5%;
}

.feature-title{
  size: 1.5rem;
}

.feature-content{
  margin: 20px 20px;
}
.feature-img{
  color: #FF869E;
  margin-bottom: 20px;
}
.feature-img:hover{
  color: #FF7396;
}

/*testimonials*/
#testimonials{
  background-color: #FF869E;
}

.testimonials-img{
  width:10%;
  height: auto;
  border-radius: 100%;
}

.testimonials-text{
  font-size: 3rem;
  line-height: 1.5;
}

/*press*/
#press{
  background-color: #FF869E;
  padding-bottom: 3%;
}
.press-img{
  width:15%;
  margin: 20px 20px 50px;
}
/*pricing*/
#pricing{
  padding: 100px;
}

.pricing-conlumn{
  padding: 3% 2%;
}

.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}

@media only screen and (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}

/*footer*/
#footer{
  background-color: #fff;
}
.footer-icon{
  margin: 20px 10px;
}
